.dark-edition .form-control,
.is-focused .dark-edition .form-control {
    background-image: linear-gradient(to top, #429eb2 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);
}

.card .card-body {
    padding: 1rem;
}

.btn {
    width: 32%;
    margin: 0.125rem;
    padding: 0.5rem;
    font-size: small;
    font-weight: 600;
}

button#oki,
input#yt {
    margin: 15px;
}

input#yt {
    text-align: center;
}

.card-img-top {
    border-radius: 6px;
}

.card-header {
    padding: 0;
}

.main-panel {
    width: calc(100%);
}

.main-panel>.content {
    margin-top: 0;
    padding: 0;
}

nav.card.footer {
    margin-top: 0px;
}

footer.card.footer {
    margin-bottom: 0px;
}

h4.titl {
    padding-top: 1.5rem;
}

.dark-edition .btn.btn-info {
    color: black;
}

#dli {
    color: #fff;
}

span.btn.btn-info {
    width: 100%;
}

.ui-datepicker {
    width: 100%;
}

.ui-datepicker-title {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #31404b;
    line-height: 1.2em;
    margin: -10px -10px 10px -10px;
    padding-left: 14px;
    padding-right: 14px;
    vertical-align: middle;
}

th.ui-datepicker-week-end {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #31404b;
    text-align: center;
    padding: 10px;
}

a.ui-state-default.ui-state-highlight.ui-state-active {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(241, 172, 59);
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: #000;
    margin: 0 -4px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 0px salmon solid;
    text-align: center;
    background: transparent;
}

.modal-content {
    background: transparent;
}

.dark-edition .ui-widget-content {
    background: #010713;
}

.dark-edition .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    border: 1px solid #333131;
}

.modal-body {
    padding: 0rem;
}

.ui-datepicker .ui-datepicker-header {
    padding: 0;
}

.ui-widget-header {
    background-color: rgb(241, 172, 59);
    border: 0px red solid;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    line-height: 1em;
    text-align: center;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: rgb(241, 172, 59);
}

.fancy-box-wrapper .box-wrapper .box .button-wrapper button {
    display: block;
    margin: 10px auto;
}

.atom-spinner,
.atom-spinner * {
    box-sizing: border-box;
}

.atom-spinner {
    height: 72px;
    width: 72px;
    overflow: hidden;
    margin: 31% auto;
}

.atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: #ff1d5e;
    font-size: calc(80px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: #f0ac3b;
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

.fancy-box-wrapper .box-wrapper .box-animate {
    display: inline-block;
    margin: 12.5px;
    vertical-align: top;
    text-align: left;
}

.col-lg-12.fancy-box-wrapper .box-wrapper .box-animate {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    text-align: left;
}

input.vdatetime-input {
    color: #010618;
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-size: 80%;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: hsl(37, 84%, 58%);
    transition: transform .3s cubic-bezier(.02, .01, .47, 1), opacity .3s cubic-bezier(.02, .01, .47, 1), box-shadow .2s cubic-bezier(.02, .01, .47, 1);
    text-align: center;
}

.vdatetime {
    margin-bottom: 15px;
}

.fancy-box-wrapper .box-wrapper .box,
.fancy-box-wrapper .box-wrapper .box-animate {
    width: 100%;
    height: min-content;
    border-radius: 4px;
    margin-bottom: 0.8rem;
}

.dark-edition .vdatetime-popup {
    width: 350px;
    background: #041623;
    color: #eea939;
}

.vdatetime-popup__header {
    background: #eea939;
    color: #041623;
}

.vdatetime-popup__actions__button.vdatetime-popup__actions__button--cancel {
    color: white;
}

span {}

.vdatetime-calendar__month__day--selected>span>span,
.vdatetime-calendar__month__day--selected:hover>span>span {
    color: #000;
    background: #eea939;
}

.dark-edition .vdatetime-calendar__month__day:hover>span>span {
    background: #030f1d;
}

.box {
    color: rgb(254, 171, 58);
    background: rgb(255, 255, 255);
    text-align: center;
}

.modal-header .title {
    font-weight: 600;
    font-size: 17px;
}

.modal-header {
    border: none;
}

.modal-header select {
    width: 6.6rem;
}

.main-panel>.content {
    min-height: calc(100vh);
}


/*#cntr{min-height: 17vh;}
.autocen{margin: 28% auto;}*/

.vdatetime-overlay {
    display: none;
}

.vdatetime-popup {
    border-radius: 5px;
    margin: 0 auto;
    z-index: unset;
    position: unset;
    top: unset;
    left: unset;
    transform: none;
    margin-top: 2rem;
}

.vdatetime-popup__header {
    border-radius: 5px;
}

.vdatetime-popup__actions__button.vdatetime-popup__actions__button--confirm {
    display: none;
}

.footer {
    height: max-content;
    padding: 0;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    margin-left: 1rem;
    background: #555;
    box-shadow: 0 0 1px 1px hsla(0, 0%, 100%, .25);
    -webkit-transition: opacity .2s linear;
    background-clip: padding-box;
    border-radius: 7px;
    min-height: 10px;
    opacity: 0;
    position: absolute;
    right: 2px;
    transition: opacity .2s linear;
}

@media screen and (max-width: 950px) and (min-width: 601px){
  .fig,.name {
    width: 100%;
  }
  .name {
    min-height: 68px;
  }
  .team.away {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

  }
  .away .fig {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;  }
  .away .name {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;  }
}
